## Data Cleaning - HOTEL 3

### Import the libraries

In [5]:
import pandas as pd
import plotly.express as px
import numpy as np
import datetime

## Import the data

### 11 tables of Hotel_3

## 1 - Upsell tábla
- 63 sor
- adattípusok OK
- nincs NaN,
- gond: EUR és HUF összegek egy oszlopban vannak
- gond: vannak teljesen egyforma sorok, de ez életszerű, kérhetett ugyanaz a foglalás többször ugyanolyan szolgáltatást

In [7]:
upsell = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/upsell_data_hotel_3.csv', sep=';')
upsell.head(3)

   search_log_id  upsell_type          name  unit_price  pieces  sum_price
0         129894           12     MEDI40_EN        37.8       2       75.6
1         130637           12     MEDI40_HU     13600.0       1    13600.0
2         132560           13  SUMCSOB90_DE        55.3       1       55.3

In [8]:
len(upsell)

63

In [9]:
upsell.describe()

       search_log_id  upsell_type    unit_price     pieces     sum_price
count      63.000000    63.000000     63.000000  63.000000     63.000000
mean   148555.396825    15.396825  10932.149206   1.253968  12311.886032
std     10118.856008     7.893525  11592.533545   0.438776  12419.275114
min    129894.000000     1.000000     24.970000   1.000000     24.970000
25%    138163.000000    10.500000     62.000000   1.000000    104.500000
50%    152609.000000    13.000000   8990.000000   1.000000   8990.000000
75%    157030.500000    21.000000  15210.000000   1.500000  19900.000000
max    162633.000000    29.000000  55485.000000   2.000000  55485.000000

In [10]:
upsell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   search_log_id  63 non-null     int64
 1   upsell_type    63 non-null     int64
 2   name           63 non-null     object
 3   unit_price     63 non-null     float64
 4   pieces         63 non-null     int64
 5   sum_price      63 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.1+ KB

In [11]:
upsell['name'].count()

63

In [12]:
upsell.groupby('name').count().head(30)

               search_log_id  upsell_type  unit_price  pieces  sum_price
name
ABAR_HU                    2            2           2       2          2
AM30_DE                    1            1           1       1          1
BALA25_DE                  1            1           1       1          1
BALDREAM_DE                2            2           2       2          2
BALDREAM_EN                1            1           1       1          1
BALDREAM_HU                2            2           2       2          2
DC90_EN                    1            1           1       1          1
EXBAMB50_DE                1            1           1       1          1
FRUITCHOC_DE               1            1           1       1          1
FRUITCHOC_HU               2            2           2       2          2
HAR60_EN                   8            8           8       8          8
HCHAMPAGNE_HU              2            2           2       2          2
HUSPRING_HU                1            1           1       1          1
IM_DE                      1            1           1       1          1
IM_EN                      1            1           1       1          1
IM_HU                      2            2           2       2          2
KREINBON_HU                1            1           1       1          1
LM120_EN                   2            2           2       2          2
M40_DE                     2            2           2       2          2
MEDI40_EN                  5            5           5       5          5
MEDI40_HU                  7            7           7       7          7
NONABAR_HU                 5            5           5       5          5
PROS_HU                    3            3           3       3          3
SUMCSOB80_EN               1            1           1       1          1
SUMCSOB90_DE               1            1           1       1          1
SUMCSOB90_HU               5            5           5       5          5
SWEET50_HU                 1            1           1       1          1
SZM40_HU                   1            1           1       1          1

In [13]:
#48 db foglaláshoz tartozik a 63 sor, a search_log_id itt nem egyedi azonosító
len(upsell['search_log_id'].unique())

48

In [14]:
#there are duplicated rows
upsell[upsell.duplicated()]

    search_log_id  upsell_type       name  unit_price  pieces  sum_price
19         139552           12  MEDI40_EN        37.8       2       75.6

In [15]:
upsell.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/upsell_hotel_3.csv')

#### 2 - Booking_data
- 664 sor
- adattípusok rendben
- gond: EUR és HUF összegek egy oszlopban vannak

In [17]:
booking = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/booking_data_hotel_3.csv', sep=';')

In [18]:
booking.head(3)

,search_log_id,total_price_final,rooms_total_price,upsell_total_price,vouchers_total_price,loyalty_discount_total,redeemed_loyalty_points_total
0,129649,82653.2,112607.20,0.0,0,11260.00,18694.0
1,129640,161892.0,185435.56,0.0,0,18543.56,5000.0
2,129730,85117.0,122352.22,0.0,0,12235.22,25000.0

In [19]:
len(booking)

664

In [20]:
booking.describe()

,search_log_id,total_price_final,rooms_total_price,upsell_total_price,vouchers_total_price,loyalty_discount_total,redeemed_loyalty_points_total
count,664.000000,6.640000e+02,6.640000e+02,664.000000,664.000000,664.000000,664.000000
mean,148815.560241,1.629819e+05,1.813869e+05,1168.145813,210.843373,14900.517877,4377.830949
std,9318.327412,1.307031e+05,1.396664e+05,5847.433250,5433.053680,13721.252109,8317.583170
min,129640.000000,2.079000e+02,2.310000e+02,0.000000,0.000000,0.000000,0.000000
25%,141324.000000,9.138125e+04,1.026802e+05,0.000000,0.000000,3692.315000,0.000000
50%,151776.500000,1.334910e+05,1.481756e+05,0.000000,0.000000,12852.000000,0.000000
75%,156807.000000,2.011652e+05,2.221958e+05,0.000000,0.000000,19974.000000,5000.000000
max,163147.000000,1.820256e+06,1.820256e+06,55485.000000,140000.000000,103164.780000,78926.000000

In [21]:
#no duplicated rows
booking[booking.duplicated()]

Empty DataFrame
Columns: [search_log_id, total_price_final, rooms_total_price, upsell_total_price, vouchers_total_price, loyalty_discount_total, redeemed_loyalty_points_total]
Index: []

In [22]:
len(booking['search_log_id'].unique())

664

In [23]:
booking.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/booking_hotel_3.csv')

#### 3 - Child tábla (search_log_room_child)
- 8443 sor
-  adattípusok OK
-  nincs NaN

In [25]:
child = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/search_log_room_child_hotel_3.csv', sep=';')

In [26]:
child.head(3)

     id  search_log_room_id  age  baby_bed
0  1220                5755   10         0
1  1221                5757   13         0
2  1222                5769    4         0

In [27]:
len(child)

8443

In [28]:
#no duplicated rows
child[child.duplicated()]

Empty DataFrame
Columns: [id, search_log_room_id, age, baby_bed]
Index: []

In [29]:
len(child['search_log_room_id'].unique())

5860

In [30]:
len(child['id'].unique())

8443

In [31]:
child.describe()

                id  search_log_room_id          age     baby_bed
count  8443.000000         8443.000000  8443.000000  8443.000000
mean   5572.024044        23707.360298     8.183939     0.081725
std    2519.898604        10419.800872     4.931146     0.273961
min    1220.000000         5755.000000     0.000000     0.000000
25%    3379.500000        14100.000000     4.000000     0.000000
50%    5579.000000        24051.000000     8.000000     0.000000
75%    7756.500000        32822.000000    12.000000     0.000000
max    9960.000000        42205.000000    17.000000     1.000000

In [32]:
child.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/child_hotel_3.csv')

#### 4 - SEARCH tábla (search_log_hotel)
- 21662 sor
- nincs NaN
- gond az EUR/HUF, de itt van dátum oszlop is, ide lehetne behozni az árfolyamokat először
- adattisztitás:
- dátumból: csak év-hónap-nap legyen
- conversion oszlop: NaN értékeknek -1 érték (szűréshez kell)
- total_price_final: NaN értékek nulla érték
- új oszlop: total_price_HUF !!!

In [34]:
search = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/search_log_hotel_3.csv', sep=';')

In [35]:
len(search)

21662

In [36]:
len(search['search_log_session_id'].unique())

13048

In [37]:
search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21662 entries, 0 to 21661
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     21662 non-null  int64
 1   search_log_session_id  21662 non-null  int64
 2   utc_datetime           21662 non-null  object
 3   lang_code              21662 non-null  object
 4   currency               21662 non-null  object
 5   arrival                21662 non-null  object
 6   departure              21662 non-null  object
 7   days                   21662 non-null  int64
 8   nights                 21662 non-null  int64
 9   adults                 21662 non-null  int64
 10  children               21662 non-null  int64
 11  conversion             664 non-null    float64
 12  total_price_final      664 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 2.1+ MB

In [38]:
#datatype change to date:
search['utc_datetime'] = pd.to_datetime(search['utc_datetime'])
search['arrival'] = pd.to_datetime(search['arrival'])
search['departure'] = pd.to_datetime(search['departure'])

In [39]:
#utc_datetime change to only year-month-day into a new column
#szinesdf['when'] = szinesdf['when'].dt.strftime('%H:%M:%S')
search['utc_date'] = search['utc_datetime'].dt.strftime('%Y-%m-%d')

In [40]:
search.isna().sum()

id                           0
search_log_session_id        0
utc_datetime                 0
lang_code                    0
currency                     0
arrival                      0
departure                    0
days                         0
nights                       0
adults                       0
children                     0
conversion               20998
total_price_final        20998
utc_date                     0
dtype: int64

In [41]:
#Number of final bookings
21662-20998

664

In [42]:
#conversion column: replace NaN with -1
search['conversion'].fillna(-1, inplace = True)

In [43]:
#final_price column: replace NaN with 0
search['total_price_final'].fillna(0, inplace = True)

In [44]:
search.head()

,id,search_log_session_id,utc_datetime,lang_code,currency,arrival,departure,days,nights,adults,children,conversion,total_price_final,utc_date
0,129533,4255,2024-09-17 22:13:49,hu,HUF,2024-10-26,2024-10-29,4,3,1,1,-1.0,0.0,2024-09-17
1,129534,4255,2024-09-17 22:15:04,hu,HUF,2024-12-30,2025-01-01,3,2,1,0,-1.0,0.0,2024-09-17
2,129535,4257,2024-09-17 22:55:42,en,EUR,2024-10-30,2024-11-02,4,3,2,1,-1.0,0.0,2024-09-17
3,129536,4257,2024-09-17 22:57:04,en,EUR,2024-10-30,2024-11-02,4,3,2,0,-1.0,0.0,2024-09-17
4,129537,4257,2024-09-17 22:57:37,en,EUR,2024-10-30,2024-11-02,4,3,2,0,-1.0,0.0,2024-09-17

In [45]:
#no duplicated rows
search[search.duplicated()]

Empty DataFrame
Columns: [id, search_log_session_id, utc_datetime, lang_code, currency, arrival, departure, days, nights, adults, children, conversion, total_price_final, utc_date]
Index: []

In [46]:
search.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/search_hotel_3.csv')

#### 5 - Room details (search_log_room_hotel)
- 23985 sor
- adattípusok OK
- van 16832 db NaN a picked_price, és picked_room oszlopban, ezek azért vannak mert nem választott már szobát a keresés során?
- ami nem NaN, az kód a picked_room oszlopban, legyen 0 a NaN helyett?
- ami nem NaN, az ár: HUF/EUR?, legyen 0 a NaN helyett?

In [48]:
room = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/search_log_room_hotel_3.csv', sep=';')

In [49]:
room.head(5)

     id  search_log_id  adults  children  picked_price picked_room
0  5755         129533       1         1           NaN         NaN
1  5756         129534       1         0           NaN         NaN
2  5757         129535       2         1           NaN         NaN
3  5758         129536       2         0           NaN         NaN
4  5759         129537       2         0           NaN         NaN

In [50]:
len(room)

23985

In [51]:
len(room['search_log_id'].unique())

21662

In [52]:
room.isna().sum()

id                   0
search_log_id        0
adults               0
children             0
picked_price     23215
picked_room      23215
dtype: int64

In [53]:
23985-23215

770

In [54]:
#no duplicated rows
room[room.duplicated()]

Empty DataFrame
Columns: [id, search_log_id, adults, children, picked_price, picked_room]
Index: []

In [55]:
room.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/room_hotel_3.csv')

#### 6 -   ROOM_OFFER

- 104212 sor
-  adattípusok OK
-  room price min and max can be equal! 
- room price: EUR/HUF keveredik

In [57]:
room_offer = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/search_log_room_offer_hotel_3.csv', sep=";")

In [58]:
room_offer.tail(3)

,id,search_log_id,search_log_room_id,room_code,room_price_min,room_price_max
104209,168666,163179,41857,ROOMFF,197802.0,212918.0
104210,168667,163180,41858,ROOMGG,215490.0,215490.0
104211,168668,163180,41858,ROOMFF,245902.0,245902.0

In [59]:
len(room_offer)

104212

In [60]:
len(room_offer['id'].unique())

104212

In [61]:
len(room_offer['search_log_id'].unique())

19273

In [62]:
len(room_offer['search_log_room_id'].unique())

21223

In [63]:
room_offer.isna().sum()

id                    0
search_log_id         0
search_log_room_id    0
room_code             0
room_price_min        0
room_price_max        0
dtype: int64

In [64]:
#no duplicated rows
room_offer[room_offer.duplicated()]

Empty DataFrame
Columns: [id, search_log_id, search_log_room_id, room_code, room_price_min, room_price_max]
Index: []

In [65]:
room_offer.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/room_offer_hotel_3.csv')

#### 7 -  Session
- 13048 sor
- üres sorok a utm-es oszlopokban, amik nem fontosak a Morgens szerint

In [67]:
session = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/search_log_session_hotel_3.csv', sep=";",encoding='latin-1' )

In [68]:
session.head()

     id                   uuid  session_id utm_source utm_medium utm_campaign
0  4255  1534019404.1726608826  1726610240        NaN        NaN    (not set)
1  4257  1544215904.1725304369  1726613742     google    organic    (not set)
2  4258  2122792873.1726614284  1726614307     google        cpc    (not set)
3  4259    85389975.1726614091  1726614366     google        cpc    (not set)
4  4260    85389975.1726614091  1726618263     google        cpc    (not set)

In [69]:
len(session)

13048

In [70]:
session.isna().sum()

id                0
uuid              0
session_id        0
utm_source      633
utm_medium      633
utm_campaign     11
dtype: int64

In [71]:
session.groupby('utm_source').count()

                             id  uuid  session_id  utm_medium  utm_campaign
utm_source
(direct)                   1693  1693        1693        1693          1693
ajanlat                      42    42          42          42            42
app.optimonk.com              1     1           1           1             1
bing                        231   231         231         231           231
duckduckgo.com                1     1           1           1             1
email                         1     1           1           1             1
facebook                    936   936         936         936           936
fb                            1     1           1           1             1
gmail.hu                      1     1           1           1             1
google                     8888  8888        8888        8888          8877
hirlevel                      1     1           1           1             1
hirlevel_s1                   3     3           3           3             3
hirlevel_s2                 158   158         158         158           158
hirlevel_s3                   5     5           5           5             5
hirlevel_s4                   1     1           1           1             1
hirlevel_s5                   2     2           2           2             2
hotelcms.hu                   4     4           4           4             4
ig                            1     1           1           1             1
instagram                     1     1           1           1             1
instagram.com                21    21          21          21            21
kereso.startlap.hu            6     6           6           6             6
l.facebook.com               99    99          99          99            99
l.instagram.com              29    29          29          29            29
live                         68    68          68          68            68
lm.facebook.com               8     8           8           8             8
loyalty                       3     3           3           3             3
m.facebook.com               69    69          69          69            69
ntp.msn.com                   1     1           1           1             1
redir.d-edgeconnect.media    74    74          74          74            74
securepay.simplepay.hu        2     2           2           2             2
seznam                        1     1           1           1             1
source_1                      1     1           1           1             1
source_11                     1     1           1           1             1
source_13                     1     1           1           1             1
source_14                     2     2           2           2             2
source_15                     1     1           1           1             1
source_4                      1     1           1           1             1
source_5                     14    14          14          14            14
source_6                      4     4           4           4             4
source_8                      2     2           2           2             2
source_9                      1     1           1           1             1
teszt22                       1     1           1           1             1
webmail.telekom.hu            3     3           3           3             3
www.connexservice.com         2     2           2           2             2
www.ecosia.org                1     1           1           1             1
www.glamour.hu                2     2           2           2             2
www.kapu.hu                   3     3           3           3             3
www.otpbankdirekt.hu          1     1           1           1             1
www.qwant.com                 1     1           1           1             1
www.saferpay.com              7     7           7           7             7
www.thermenhotels.at          1     1           1           1             1
www.wellcard.at               7     7           7           7             7
www.youtube.com               3     3           3           3             3
yahoo                         2     2           2           2             2
zadir.hu                      1     1           1           1             1

In [72]:
session.groupby('utm_medium').count()

              id  uuid  session_id  utm_source  utm_campaign
utm_medium
(none)      1693  1693        1693        1693          1693
cpc         8423  8423        8423        8423          8412
ct           170   170         170         170           170
email         22    22          22          22            22
offline       24    24          24          24            24
organic     1704  1704        1704        1704          1704
paid           2     2           2           2             2
referral     376   376         376         376           376
teszt          1     1           1           1             1

In [73]:
session.groupby('utm_campaign').count()

,id,uuid,session_id,utm_source,utm_medium
utm_campaign,,,,,
(not set),11575,11575,11575,10942,10942
(not+set),19,19,19,19,19
AT,10,10,10,10,10
DE,1,1,1,1,1
HU,59,59,59,59,59
HU I PERF I Display I Fagus lombhullás,2,2,2,2,2
campaign_1,936,936,936,936,936
campaign_10,22,22,22,22,22
campaign_11,3,3,3,3,3
campaign_12,1,1,1,1,1
campaign_14,6,6,6,6,6
campaign_15,19,19,19,19,19
campaign_16,1,1,1,1,1
campaign_2,72,72,72,72,72
campaign_4,4,4,4,4,4
campaign_5,7,7,7,7,7
campaign_6,4,4,4,4,4
campaign_7,1,1,1,1,1
campaign_8,6,6,6,6,6
feliratkozas_hu,1,1,1,1,1
hirlevel_c1,3,3,3,3,3
hirlevel_c2,5,5,5,5,5
hirlevel_c3,1,1,1,1,1
hirlevel_c4,2,2,2,2,2
hirlevel_c5,12,12,12,12,12
hirlevel_c6,138,138,138,138,138
hu_brand,91,91,91,91,91
hu_pmax_brand,30,30,30,30,30
loyalty-email,3,3,3,3,3
proposal-by-phone,2,2,2,2,2
teszt,1,1,1,1,1

In [74]:
#no duplicated rows
session[session.duplicated()]

Empty DataFrame
Columns: [id, uuid, session_id, utm_source, utm_medium, utm_campaign]
Index: []

In [75]:
session.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/session_hotel_3.csv')

#### 8 -  DAILY_USERS
- 1661 sor
- date oszlop: adattípus változtatás
- beolvasásnál: hibaüzenet, megoldás: encoding='latin-1'
- van dupla sor, egyszer

In [77]:
daily_users = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/website_daily_users_hotel_3.csv', sep=";", encoding='latin-1')

In [78]:
len(daily_users)

1661

In [79]:
daily_users.head(30)

,date,utm_source_and_medium,utm_campaign,user_count,session_count
0,2024-09-18,(not set),(not set),516,676
1,2024-09-18,(direct) / (none),(direct),227,260
2,2024-09-18,google / cpc,(organic),221,246
3,2024-09-18,google / cpc,HU | pMAX | PERF I Brand,172,187
4,2024-09-18,google / organic,(organic),153,180
5,2024-09-18,google / cpc,HU | GSN | PERF I Brand,130,161
6,2024-09-18,google / cpc,(not set),92,105
7,2024-09-18,facebook / cpc,campaign_19,79,83
8,2024-09-18,facebook / cpc,campaign_20,51,52
9,2024-09-18,facebook / cpc,campaign_21,35,38
10,2024-09-18,google / cpc,campaign_22,27,31
11,2024-09-18,bing / organic,(organic),7,20
12,2024-09-18,bing / cpc,campaign_2,20,20
13,2024-09-18,google / cpc,campaign_23,16,19
14,2024-09-18,google / cpc,campaign_24,19,19
15,2024-09-18,google / cpc,DE | pMAX | PERF I Brand,14,18
16,2024-09-18,m.facebook.com / referral,(referral),16,17
17,2024-09-18,google / cpc,campaign_25,17,17
18,2024-09-18,l.facebook.com / referral,(referral),12,14
19,2024-09-18,ajanlat / offline,campaign_10,8,14
20,2024-09-18,bing / cpc,campaign_5,3,13
21,2024-09-18,redir.d-edgeconnect.media / referral,(referral),9,10
22,2024-09-18,google / cpc,(referral),7,8
23,2024-09-18,google / cpc,campaign_26,5,7
24,2024-09-18,google / cpc,HU | GDN | ENGM I Programok '24,7,7
25,2024-09-18,phone / offline,proposal-by-phone,2,7
26,2024-09-18,l.instagram.com / referral,(referral),4,5
27,2024-09-18,lm.facebook.com / referral,(referral),3,5
28,2024-09-18,otpbankdirekt.hu / referral,(referral),2,5
29,2024-09-18,google / cpc,campaign_27,3,5

In [80]:
daily_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1661 non-null   object
 1   utm_source_and_medium  1661 non-null   object
 2   utm_campaign           1661 non-null   object
 3   user_count             1661 non-null   int64
 4   session_count          1661 non-null   int64
dtypes: int64(2), object(3)
memory usage: 65.0+ KB

In [81]:
#datatype change to date
daily_users['date'] = pd.to_datetime(daily_users['date'])

In [82]:
daily_users.isna().sum()

date                     0
utm_source_and_medium    0
utm_campaign             0
user_count               0
session_count            0
dtype: int64

In [83]:
#there is duplicated rows
daily_users[daily_users.duplicated()]

          date utm_source_and_medium utm_campaign  user_count  session_count
768 2024-09-30             source_21   (referral)           1              1

In [84]:
daily_users.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/daily_users_hotel_3.csv')

#### 9 -  BUDGET
- 31 sor
- első oszlopot átnevezni
- adattípus változtatás

In [86]:
budget = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/daily_ppc_budget_hotel_3.csv', sep=",")

In [87]:
budget.head()

    Unnamed: 0  daily_google_spend  daily_microsoft_spend  daily_meta_spend
0  2024.09.18.              103187                  13076             28788
1  2024.09.19.              105303                  19576             64102
2  2024.09.20.              104991                  20604             73873
3  2024.09.21.               98337                  12220             27476
4  2024.09.22.              113580                  13024             36343

In [88]:
len(budget)

31

In [89]:
#Rename the first column
budget.rename(columns = {'Unnamed: 0':'date'}, inplace = True)

In [90]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   31 non-null     object
 1   daily_google_spend     31 non-null     int64
 2   daily_microsoft_spend  31 non-null     int64
 3   daily_meta_spend       31 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

In [91]:
#change date type:
budget['date'] = pd.to_datetime(budget['date'])

In [92]:
budget.isna().sum()

date                     0
daily_google_spend       0
daily_microsoft_spend    0
daily_meta_spend         0
dtype: int64

In [93]:
#no duplicated rows
budget[budget.duplicated()]

Empty DataFrame
Columns: [date, daily_google_spend, daily_microsoft_spend, daily_meta_spend]
Index: []

In [94]:
budget.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/budget_hotel_3.csv')

#### 10 -  DATEPICKERS
- 998 sor
- date oszlop adatmódosítás
- beolvasásnál hibaüzenet, megoldás: encoding='latin-1'

In [96]:
datepickers = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/datepicker_daily_visitors_hotel_3.csv', sep=";", encoding='latin-1' )

In [97]:
datepickers.head()

,date,utm_source_and_medium,utm_campaign,user_count,session_count
0,2024-09-18,google / cpc,(organic),75,80
1,2024-09-18,(direct) / (none),(direct),73,76
2,2024-09-18,google / cpc,HU | GSN | PERF I Brand,45,52
3,2024-09-18,google / organic,(organic),37,42
4,2024-09-18,google / cpc,HU | pMAX | PERF I Brand,34,36

In [98]:
len(datepickers)

998

In [99]:
len(datepickers['date'].unique())

31

In [100]:
len(datepickers['utm_source_and_medium'].unique())

67

In [101]:
len(datepickers['utm_campaign'].unique())

48

In [102]:
datepickers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   998 non-null    object
 1   utm_source_and_medium  998 non-null    object
 2   utm_campaign           998 non-null    object
 3   user_count             998 non-null    int64
 4   session_count          998 non-null    int64
dtypes: int64(2), object(3)
memory usage: 39.1+ KB

In [103]:
datepickers['date'] = pd.to_datetime(datepickers['date'])

In [104]:
datepickers.isna().sum()

date                     0
utm_source_and_medium    0
utm_campaign             0
user_count               0
session_count            0
dtype: int64

In [105]:
#no duplicated rows
datepickers[datepickers.duplicated()]

Empty DataFrame
Columns: [date, utm_source_and_medium, utm_campaign, user_count, session_count]
Index: []

In [106]:
datepickers.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/datepickers_hotel_3.csv')

#### 11 - OCCUPANCY
- 10788 dor, mert 31 napon át nézzük (x) a 348 napos időszakot
- két dátum oszlopnál adattípus módosítás

In [108]:
occupancy = pd.read_csv('./../Morgens_notebooks/HOTEL_3/Original_data/daily_occupancy_hotel_3.csv', sep=";")

In [109]:
occupancy.head()

  recording_date subject_date  fill_rate
0     2024-09-18   2024-09-18     94.737
1     2024-09-18   2024-09-19     85.088
2     2024-09-18   2024-09-20     98.246
3     2024-09-18   2024-09-21     81.579
4     2024-09-18   2024-09-22     62.281

In [110]:
occupancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10788 entries, 0 to 10787
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   recording_date  10788 non-null  object
 1   subject_date    10788 non-null  object
 2   fill_rate       10788 non-null  float64
dtypes: float64(1), object(2)
memory usage: 253.0+ KB

In [111]:
occupancy['recording_date'] = pd.to_datetime(occupancy['recording_date'])
occupancy['subject_date'] = pd.to_datetime(occupancy['subject_date'])

In [112]:
occupancy.isna().sum()

recording_date    0
subject_date      0
fill_rate         0
dtype: int64

In [113]:
#no duplicated rows
occupancy[occupancy.duplicated()]

Empty DataFrame
Columns: [recording_date, subject_date, fill_rate]
Index: []

In [114]:
occupancy.to_csv('./../Morgens_notebooks/HOTEL_3/Clean_data/occupancy_hotel_3.csv')