## Data cleaning

### Import the libraries

In [4]:
import pandas as pd
import plotly.express as px
import numpy as np
import datetime

## Import the data

### 11 tables of Hotel_2

## 1 - Upsell tábla
- 62 sor
- adattípusok OK
- nincs NaN,
- gond: EUR és HUF összegek egy oszlopban vannak
- gond: vannak teljesen egyforma sorok, de ez életszerű, kérhetett ugyanaz a foglalás többször ugyanolyan szolgáltatást

In [7]:
upsell = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/upsell_data_hotel_2.csv', sep=';')
upsell.head(3)

   search_log_id  upsell_type       name  unit_price  pieces  sum_price
0          76849           27   WEINP_HU      6950.0       1     6950.0
1          77317           10  FRUITS_HU      2990.0       1     2990.0
2          78857           10  FRUITS_HU      2990.0       1     2990.0

In [8]:
len(upsell)

62

In [9]:
upsell.describe()

       search_log_id  upsell_type    unit_price     pieces     sum_price
count      62.000000    62.000000     62.000000  62.000000     62.000000
mean    89900.935484    20.806452   4993.311935   1.048387   5074.311935
std      6463.348279     9.874356   3473.814116   0.216335   3527.563884
min     76849.000000     7.000000     19.300000   1.000000     19.300000
25%     85892.500000    10.000000   2990.000000   1.000000   2990.000000
50%     91430.500000    27.000000   2990.000000   1.000000   2990.000000
75%     95125.000000    30.000000   6950.000000   1.000000   6950.000000
max     98583.000000    36.000000  11500.000000   2.000000  11500.000000

In [10]:
upsell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   search_log_id  62 non-null     int64
 1   upsell_type    62 non-null     int64
 2   name           62 non-null     object
 3   unit_price     62 non-null     float64
 4   pieces         62 non-null     int64
 5   sum_price      62 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.0+ KB

In [11]:
upsell['name'].count()

62

In [12]:
upsell.groupby('name').count().head(30)

                 search_log_id  upsell_type  unit_price  pieces  sum_price
name
31PRESSO_HU                  3            3           3       3          3
FRUITS_HU                   21           21          21      21         21
HCHAMPAGNE_HU                2            2           2       2          2
LOVE_DE                      1            1           1       1          1
LOVE_HU                      5            5           5       5          5
M50_DE                       2            2           2       2          2
MF50_DE                      1            1           1       1          1
MF50_HU                      1            1           1       1          1
MINI2_HU                     1            1           1       1          1
MINI_DE                      4            4           4       4          4
MINI_HU                      3            3           3       3          3
TCDCHAMPAGNE_HU              3            3           3       3          3
WEINP_DE                     1            1           1       1          1
WEINP_HU                    14           14          14      14         14

In [13]:
#48 db foglaláshoz tartozik a 62 sor, a search_log_id itt nem egyedi azonosító
len(upsell['search_log_id'].unique())

48

In [14]:
#there are duplicated rows
upsell[upsell.duplicated()]

    search_log_id  upsell_type     name  unit_price  pieces  sum_price
17          85942           30  MINI_DE        23.6       1       23.6

In [15]:
upsell.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/upsell_hotel_2.csv')

#### 2 - Booking_data
- 569 sor
- adattípusok rendben
- gond: EUR és HUF összegek egy oszlopban vannak

In [17]:
booking = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/booking_data_hotel_2.csv', sep=';')

In [18]:
booking.head(3)

,search_log_id,total_price_final,rooms_total_price,upsell_total_price,vouchers_total_price,loyalty_discount_total,redeemed_loyalty_points_total
0,76659,510.0,510.00,0.0,0,0.00,0.0
1,76669,259.3,302.00,0.0,0,30.20,12.5
2,76674,140288.0,155875.56,0.0,0,15587.56,0.0

In [19]:
len(booking)

569

In [20]:
booking.describe()

,search_log_id,total_price_final,rooms_total_price,upsell_total_price,vouchers_total_price,loyalty_discount_total,redeemed_loyalty_points_total
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,89013.768014,159373.084205,177248.403902,552.912724,263.620387,14319.355167,3783.745448
std,6452.025595,125938.640981,139168.538912,2446.415392,6288.327122,15603.359080,8983.381280
min,76659.000000,219.900000,200.600000,0.000000,0.000000,0.000000,0.000000
25%,83946.000000,82091.000000,94464.440000,0.000000,0.000000,0.000000,0.000000
50%,90283.000000,134638.000000,149040.000000,0.000000,0.000000,12096.000000,0.000000
75%,94662.000000,209240.000000,232560.000000,0.000000,0.000000,21067.220000,5000.000000
max,98690.000000,815680.000000,911866.670000,24390.000000,150000.000000,91186.670000,77973.000000

In [21]:
#no duplicated rows
booking[booking.duplicated()]

Empty DataFrame
Columns: [search_log_id, total_price_final, rooms_total_price, upsell_total_price, vouchers_total_price, loyalty_discount_total, redeemed_loyalty_points_total]
Index: []

In [22]:
len(booking['search_log_id'].unique())

569

In [23]:
booking.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/booking_hotel_2.csv')

#### 3 - Child tábla (search_log_room_child)
- 9558 sor
-  adattípusok OK
-  nincs NaN

In [6]:
child = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/search_log_room_child_hotel_2.csv', sep=';')

In [8]:
child.head(3)

     id  search_log_room_id  age  baby_bed
0  1398                3839   14         0
1  1399                3839   12         0
2  1400                3839    7         0

In [27]:
len(child)

9558

In [28]:
#no duplicated rows
child[child.duplicated()]

Empty DataFrame
Columns: [id, search_log_room_id, age, baby_bed]
Index: []

In [29]:
len(child['search_log_room_id'].unique())

6297

In [30]:
len(child['id'].unique())

9558

In [31]:
child.describe()

                 id  search_log_room_id          age     baby_bed
count   9558.000000         9558.000000  9558.000000  9558.000000
mean    6420.151810        15912.873823     8.316907     0.055556
std     2903.615675         6935.151689     4.522219     0.229073
min     1398.000000         3839.000000     0.000000     0.000000
25%     3896.250000         9817.000000     5.000000     0.000000
50%     6398.500000        16446.000000     8.000000     0.000000
75%     8953.750000        21919.750000    12.000000     0.000000
max    11464.000000        28100.000000    17.000000     1.000000

In [32]:
child.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/child_hotel_2.csv')

#### 4 - tábla (search_log_hotel)
- 15725 sor
- nincs NaN
- gond az EUR/HUF, de itt van dátum oszlop is, ide lehetne behozni az árfolyamokat először
- adattisztitás:
- dátumból: csak év-hónap-nap legyen
- conversion oszlop: NaN értékeknek -1 érték (szűréshez kell)
- total_price_final: NaN értékek nulla érték
- új oszlop: total_price_HUF !!!

In [34]:
search = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/search_log_hotel_2.csv', sep=';')

In [35]:
len(search)

15725

In [36]:
len(search['search_log_session_id'].unique())

9327

In [37]:
search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15725 entries, 0 to 15724
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     15725 non-null  int64
 1   search_log_session_id  15725 non-null  int64
 2   utc_datetime           15725 non-null  object
 3   lang_code              15725 non-null  object
 4   currency               15725 non-null  object
 5   arrival                15725 non-null  object
 6   departure              15725 non-null  object
 7   days                   15725 non-null  int64
 8   nights                 15725 non-null  int64
 9   adults                 15725 non-null  int64
 10  children               15725 non-null  int64
 11  conversion             569 non-null    float64
 12  total_price_final      569 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 1.6+ MB

In [38]:
#datatype change to date:
search['utc_datetime'] = pd.to_datetime(search['utc_datetime'])
search['arrival'] = pd.to_datetime(search['arrival'])
search['departure'] = pd.to_datetime(search['departure'])

In [39]:
#utc_datetime change to only year-month-day into a new column
#szinesdf['when'] = szinesdf['when'].dt.strftime('%H:%M:%S')
search['utc_date'] = search['utc_datetime'].dt.strftime('%Y-%m-%d')

In [40]:
search.isna().sum()

id                           0
search_log_session_id        0
utc_datetime                 0
lang_code                    0
currency                     0
arrival                      0
departure                    0
days                         0
nights                       0
adults                       0
children                     0
conversion               15156
total_price_final        15156
utc_date                     0
dtype: int64

In [41]:
#Number of final bookings
15725-15156

569

In [42]:
#conversion column: replace NaN with -1
search['conversion'].fillna(-1, inplace = True)

In [43]:
#final_price column: replace NaN with 0
search['total_price_final'].fillna(0, inplace = True)

In [44]:
search.head()

,id,search_log_session_id,utc_datetime,lang_code,currency,arrival,departure,days,nights,adults,children,conversion,total_price_final,utc_date
0,76486,2476,2024-09-17 22:12:01,hu,HUF,2024-09-21,2024-09-25,5,4,2,0,-1.0,0.0,2024-09-17
1,76528,2518,2024-09-17 22:22:57,hu,HUF,2024-11-22,2024-11-24,3,2,2,0,-1.0,0.0,2024-09-17
2,76541,2531,2024-09-18 01:31:42,hu,HUF,2024-10-08,2024-10-12,5,4,2,0,-1.0,0.0,2024-09-18
3,76542,2532,2024-09-18 02:23:53,de,EUR,2024-10-11,2024-10-13,3,2,2,0,-1.0,0.0,2024-09-18
4,76543,2533,2024-09-18 03:07:46,hu,HUF,2024-11-14,2024-11-17,4,3,2,3,-1.0,0.0,2024-09-18

In [45]:
#no duplicated rows
search[search.duplicated()]

Empty DataFrame
Columns: [id, search_log_session_id, utc_datetime, lang_code, currency, arrival, departure, days, nights, adults, children, conversion, total_price_final, utc_date]
Index: []

In [46]:
search.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/search_hotel_2.csv')

#### 5 - Room details (search_log_room_hotel)
- 17479 sor
- adattípusok OK
- van 16832 db NaN a picked_price, és picked_room oszlopban, ezek azért vannak mert nem választott már szobát a keresés során?
- ami nem NaN, az kód a picked_room oszlopban, legyen 0 a NaN helyett?
- ami nem NaN, az ár: HUF/EUR?, legyen 0 a NaN helyett?

In [48]:
room = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/search_log_room_hotel_2.csv', sep=';')

In [49]:
room.head(5)

     id  search_log_id  adults  children  picked_price picked_room
0  3782          76486       2         0           NaN         NaN
1  3824          76528       2         0           NaN         NaN
2  3837          76541       2         0           NaN         NaN
3  3838          76542       2         0           NaN         NaN
4  3839          76543       2         3           NaN         NaN

In [50]:
len(room)

17479

In [51]:
len(room['search_log_id'].unique())

15725

In [52]:
room.isna().sum()

id                   0
search_log_id        0
adults               0
children             0
picked_price     16832
picked_room      16832
dtype: int64

In [53]:
17479-16832

647

In [54]:
#no duplicated rows
room[room.duplicated()]

Empty DataFrame
Columns: [id, search_log_id, adults, children, picked_price, picked_room]
Index: []

In [55]:
room.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/room_hotel_2.csv')

#### 6 -   ROOM_OFFER

- 53566 sor
-  adattípusok OK
-  room price min and max can be equal! 
- room price: EUR/HUF keveredik

In [57]:
room_offer = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/search_log_room_offer_hotel_2.csv', sep=";")

In [58]:
room_offer.tail(3)

,id,search_log_id,search_log_room_id,room_code,room_price_min,room_price_max
53563,90808,98918,28095,ROOMBB,709.5,981.75
53564,90809,98923,28100,ROOMEE,380970.0,523057.50
53565,90810,98923,28100,ROOMHH,445770.0,606513.50

In [59]:
len(room_offer)

53566

In [60]:
len(room_offer['id'].unique())

53566

In [61]:
len(room_offer['search_log_id'].unique())

13086

In [62]:
len(room_offer['search_log_room_id'].unique())

14450

In [63]:
room_offer.isna().sum()

id                    0
search_log_id         0
search_log_room_id    0
room_code             0
room_price_min        0
room_price_max        0
dtype: int64

In [64]:
#no duplicated rows
room_offer[room_offer.duplicated()]

Empty DataFrame
Columns: [id, search_log_id, search_log_room_id, room_code, room_price_min, room_price_max]
Index: []

In [65]:
room_offer.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/room_offer_hotel_2.csv')

#### 7 -  Session
- 9327 sor
- üres sorok a utm-es oszlopokban, amik nem fontosak a Morgens szerint

In [67]:
session = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/search_log_session_hotel_2.csv', sep=";")

In [68]:
session.head()

     id                   uuid  session_id utm_source utm_medium utm_campaign
0  2476  1895344029.1724419415  1726611121        NaN        NaN    (not set)
1  2518   329676168.1726611727  1726611777     google        cpc    (not set)
2  2531  1097283936.1726622460  1726623102        NaN        NaN    (not set)
3  2532  1609422878.1726626176  1726626233     google        cpc    (not set)
4  2533   444319917.1726628638  1726628866   facebook        cpc   campaign_1

In [69]:
len(session)

9327

In [70]:
session.isna().sum()

id                0
uuid              0
session_id        0
utm_source      434
utm_medium      434
utm_campaign     14
dtype: int64

In [71]:
session.groupby('utm_source').count()

                                id  uuid  session_id  utm_medium  utm_campaign
utm_source
(direct)                       939   939         939         939           939
ajanlat                         25    25          25          25            25
app.optimonk.com                 1     1           1           1             1
bing                           196   196         196         196           196
cdn.respond.io                   3     3           3           3             3
checkout.simplepay.hu           12    12          12          12            12
duckduckgo.com                   6     6           6           6             6
facebook                       702   702         702         702           702
fb                               3     3           3           3             3
google                        6534  6534        6534        6534          6520
hirlevel                         2     2           2           2             2
hirlevel_s1                     16    16          16          16            16
hirlevel_s3                    108   108         108         108           108
instagram                       34    34          34          34            34
kereso.startlap.hu               6     6           6           6             6
l.facebook.com                 105   105         105         105           105
l.instagram.com                 14    14          14          14            14
live                            28    28          28          28            28
lm.facebook.com                 10    10          10          10            10
loyalty                          1     1           1           1             1
m.facebook.com                  58    58          58          58            58
m.hvg.hu                         1     1           1           1             1
ntp.msn.com                      1     1           1           1             1
other                            4     4           4           4             4
phone                            6     6           6           6             6
redir.d-edgeconnect.media       25    25          25          25            25
securepay.simplepay.hu           1     1           1           1             1
source_1                         1     1           1           1             1
source_5                         1     1           1           1             1
source_6                         1     1           1           1             1
source_7                         1     1           1           1             1
statics.teams.cdn.office.net     1     1           1           1             1
system.paymentgateway.hu         5     5           5           5             5
www.connexservice.com            2     2           2           2             2
www.familypark.at                9     9           9           9             9
www.glamour.hu                   1     1           1           1             1
www.kapu.hu                      1     1           1           1             1
www.otpbankdirekt.hu             4     4           4           4             4
www.qwant.com                    1     1           1           1             1
www.saferpay.com                 3     3           3           3             3
www.thermengutscheine.at         2     2           2           2             2
www.thermenhotels.at             2     2           2           2             2
www.wellcard.at                  8     8           8           8             8
www.youtube.com                  1     1           1           1             1
yahoo                            6     6           6           6             6
zadir.hu                         2     2           2           2             2

In [72]:
session.groupby('utm_medium').count()

              id  uuid  session_id  utm_source  utm_campaign
utm_medium
(none)       939   939         939         939           939
cpc         6100  6100        6100        6100          6086
ct           126   126         126         126           126
email         16    16          16          16            16
offline       20    20          20          20            20
organic     1400  1400        1400        1400          1400
paid           3     3           3           3             3
referral     289   289         289         289           289

In [73]:
session.groupby('utm_campaign').count()

                     id  uuid  session_id  utm_source  utm_medium
utm_campaign
(not set)          8170  8170        8170        7736        7736
(not+set)            17    17          17          17          17
AT                   23    23          23          23          23
HU                   82    82          82          82          82
campaign_1          735   735         735         735         735
campaign_10          16    16          16          16          16
campaign_13           3     3           3           3           3
campaign_15           1     1           1           1           1
campaign_2            6     6           6           6           6
campaign_3           16    16          16          16          16
campaign_33          22    22          22          22          22
campaign_5            1     1           1           1           1
campaign_7           15    15          15          15          15
campaign_8            2     2           2           2           2
campaign_9            1     1           1           1           1
feliratkozas_hu       2     2           2           2           2
hirlevel_c1          16    16          16          16          16
hirlevel_c2          10    10          10          10          10
hirlevel_c3          76    76          76          76          76
hirlevel_c4           2     2           2           2           2
hu_brand             63    63          63          63          63
hu_pmax_brand        19    19          19          19          19
loyalty-email         1     1           1           1           1
proposal-by-phone    14    14          14          14          14

In [74]:
#no duplicated rows
session[session.duplicated()]

Empty DataFrame
Columns: [id, uuid, session_id, utm_source, utm_medium, utm_campaign]
Index: []

In [75]:
session.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/session_hotel_2.csv')

#### 8 -  DAILY_USERS
- 1626 sor
- date oszlop: adattípus változtatás
- beolvasásnál: hibaüzenet, megoldás: encoding='latin-1'

In [77]:
daily_users = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/website_daily_users_hotel_2.csv', sep=";", encoding='latin-1')

In [78]:
len(daily_users)

1626

In [79]:
daily_users.head(30)

,date,utm_source_and_medium,utm_campaign,user_count,session_count
0,2024-09-18,(not set),(not set),425,551
1,2024-09-18,google / cpc,(organic),292,342
2,2024-09-18,google / cpc,(not set),206,232
3,2024-09-18,(direct) / (none),(direct),175,220
4,2024-09-18,google / organic,(organic),145,170
5,2024-09-18,google / cpc,HU | pMAX | PERF I Brand,103,109
6,2024-09-18,google / cpc,HU | GSN | PERF I Brand,62,78
7,2024-09-18,google / cpc,AT | pMAX Hotel | PERF I Brand,55,59
8,2024-09-18,facebook / cpc,campaign_17,53,54
9,2024-09-18,google / cpc,HU | GSN | PERF I Lokáció,45,48
10,2024-09-18,google / cpc,HU | GSN | PERF I Brand 2,27,31
11,2024-09-18,facebook / cpc,campaign_18,27,30
12,2024-09-18,google / cpc,DE | pMAX Hotel | PERF I Brand,19,25
13,2024-09-18,bing / cpc,campaign_33,11,23
14,2024-09-18,google / cpc,AT | GSN | PERF I Brand,18,21
15,2024-09-18,l.facebook.com / referral,(referral),11,16
16,2024-09-18,hirlevel / ct,campaign_3,9,15
17,2024-09-18,facebook / cpc,campaign_19,15,15
18,2024-09-18,m.facebook.com / referral,(referral),6,12
19,2024-09-18,google / cpc,campaign_27,10,12
20,2024-09-18,google / cpc,CZ | pMAX | PERF I Brand,7,10
21,2024-09-18,ajanlat / offline,campaign_2,5,10
22,2024-09-18,redir.d-edgeconnect.media / referral,(referral),8,9
23,2024-09-18,bing / cpc,HU | GSN | Brand 2024,7,9
24,2024-09-18,google / cpc,HU | GDN | ENGM I Programok '24,7,8
25,2024-09-18,phone / offline,proposal-by-phone,2,7
26,2024-09-18,bing / organic,(organic),6,6
27,2024-09-18,google / cpc,(referral),2,5
28,2024-09-18,google / cpc,AT | GSN | PERF | Lokáció,5,5
29,2024-09-18,duckduckgo / organic,(organic),3,4

In [80]:
daily_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1626 entries, 0 to 1625
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1626 non-null   object
 1   utm_source_and_medium  1626 non-null   object
 2   utm_campaign           1626 non-null   object
 3   user_count             1626 non-null   int64
 4   session_count          1626 non-null   int64
dtypes: int64(2), object(3)
memory usage: 63.6+ KB

In [81]:
#datatype change to date
daily_users['date'] = pd.to_datetime(daily_users['date'])

In [82]:
daily_users.isna().sum()

date                     0
utm_source_and_medium    0
utm_campaign             0
user_count               0
session_count            0
dtype: int64

In [83]:
#no duplicated rows
daily_users[daily_users.duplicated()]

Empty DataFrame
Columns: [date, utm_source_and_medium, utm_campaign, user_count, session_count]
Index: []

In [84]:
daily_users.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/daily_users_hotel_2.csv')

#### 9 -  BUDGET
- 31 sor
- első oszlopot átnevezni
- adattípus változtatás

In [86]:
budget = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/daily_ppc_budget_hotel_2.csv', sep=",")

In [87]:
budget.head()

    Unnamed: 0  daily_google_spend  daily_microsoft_spend  daily_meta_spend
0  2024.09.18.              136513                   7484             33554
1  2024.09.19.              121423                   5580             41405
2  2024.09.20.              107031                   5964             48341
3  2024.09.21.              109008                   5028             50098
4  2024.09.22.              141350                   4804             57303

In [88]:
len(budget)

31

In [89]:
#Rename the first column
budget.rename(columns = {'Unnamed: 0':'date'}, inplace = True)

In [90]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   31 non-null     object
 1   daily_google_spend     31 non-null     int64
 2   daily_microsoft_spend  31 non-null     int64
 3   daily_meta_spend       31 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

In [91]:
#change date type:
budget['date'] = pd.to_datetime(budget['date'])

In [92]:
budget.isna().sum()

date                     0
daily_google_spend       0
daily_microsoft_spend    0
daily_meta_spend         0
dtype: int64

In [93]:
#no duplicated rows
budget[budget.duplicated()]

Empty DataFrame
Columns: [date, daily_google_spend, daily_microsoft_spend, daily_meta_spend]
Index: []

In [94]:
budget.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/budget_hotel_2.csv')

#### 10 -  DATEPICKERS
- 998 sor
- date oszlop adatmódosítás
- beolvasásnál hibaüzenet, megoldás: encoding='latin-1'

In [96]:
datepickers = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/datepicker_daily_visitors_hotel_2.csv', sep=";", encoding='latin-1' )

In [97]:
datepickers.head()

,date,utm_source_and_medium,utm_campaign,user_count,session_count
0,2024-09-18,google / cpc,(organic),73,82
1,2024-09-18,(direct) / (none),(direct),48,52
2,2024-09-18,google / organic,(organic),23,30
3,2024-09-18,google / cpc,(not set),23,25
4,2024-09-18,google / cpc,HU | GSN | PERF I Brand,17,22

In [98]:
len(datepickers)

998

In [99]:
len(datepickers['date'].unique())

31

In [100]:
len(datepickers['utm_source_and_medium'].unique())

62

In [101]:
len(datepickers['utm_campaign'].unique())

47

In [102]:
datepickers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   998 non-null    object
 1   utm_source_and_medium  998 non-null    object
 2   utm_campaign           998 non-null    object
 3   user_count             998 non-null    int64
 4   session_count          998 non-null    int64
dtypes: int64(2), object(3)
memory usage: 39.1+ KB

In [103]:
datepickers['date'] = pd.to_datetime(datepickers['date'])

In [104]:
datepickers.isna().sum()

date                     0
utm_source_and_medium    0
utm_campaign             0
user_count               0
session_count            0
dtype: int64

In [105]:
#no duplicated rows
datepickers[datepickers.duplicated()]

Empty DataFrame
Columns: [date, utm_source_and_medium, utm_campaign, user_count, session_count]
Index: []

In [106]:
datepickers.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/datepickers_hotel_2.csv')

#### 11 - OCCUPANCY
- 10788 dor, mert 31 napon át nézzük (x) a 348 napos időszakot
- két dátum oszlopnál adattípus módosítás

In [108]:
occupancy = pd.read_csv('./../Morgens_notebooks/HOTEL_2/Original_data/daily_occupancy_hotel_2.csv', sep=";")

In [109]:
occupancy.head()

  recording_date subject_date  fill_rate
0     2024-09-18   2024-09-18       54.4
1     2024-09-18   2024-09-19       47.2
2     2024-09-18   2024-09-20       84.0
3     2024-09-18   2024-09-21       84.0
4     2024-09-18   2024-09-22       68.0

In [110]:
occupancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10788 entries, 0 to 10787
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   recording_date  10788 non-null  object
 1   subject_date    10788 non-null  object
 2   fill_rate       10788 non-null  float64
dtypes: float64(1), object(2)
memory usage: 253.0+ KB

In [111]:
occupancy['recording_date'] = pd.to_datetime(occupancy['recording_date'])
occupancy['subject_date'] = pd.to_datetime(occupancy['subject_date'])

In [112]:
occupancy.isna().sum()

recording_date    0
subject_date      0
fill_rate         0
dtype: int64

In [113]:
#no duplicated rows
occupancy[occupancy.duplicated()]

Empty DataFrame
Columns: [recording_date, subject_date, fill_rate]
Index: []

In [114]:
occupancy.to_csv('./../Morgens_notebooks/HOTEL_2/Clean_data/occupancy_hotel_2.csv')